# dependencies
node_modules/

# Build outputs
dist/
web-build/
/ios
/android

# Expo/EAS
.expo/
.eas/
credentials.json

# Local configuration & Secrets
.env*.local
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
keystore_base64.txt

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
Thumbs.db

# Temporary files
temp/
.metro-health-check*

# typescript
*.tsbuildinfo
